<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>About</title>
  <meta name="description" content="The About Us Page, or, Our Team Page">
  <meta name="author" content="Reese Hicks">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/skeleton.css">
  <link rel="stylesheet" href="styles/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- Header / Navigation
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
    <nav class="navigation">
      <ul>
        <li class="navigation"><a href="./aboutUs.html">About</a></li>
        <li class="navigation"><a href="./jobs.html"><div class="slash">Jobs</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Tulsa Love</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">T-Combinator</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Tech Associations & Groups</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Learn & Grow</div></a></li>
      </ul>
    </nav>
  </header>

  <!-- Logo
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <a href="./index.html">
    <section class="logo">
      <img src="./images/logo-150x150.png" alt="Tulsa Boom Town Logo" style="width:150px;height:150px";> 
    </section>
  </a>

  <!-- Video
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="centered">Tulsa Boom Town Video</h2>
  </div><!--container-->

  <div class="container">
    <div class="row">
      <div class="eight columns offset-by-two">
        <iframe width="100%" height="315px" src="https://www.youtube.com/embed/PXk1OFyVMdU" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div><!--container-->
  <!-- About
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container about">
    <h2 class="centered">About Tulsa Boom Town</h2>
    <br>
    <p>Hi, thanks for checking out our project TulsaBoomTown.tech!</p>

    <p>This project was the final project submission for Reese Hicks, Tim McMacken, Blake Stewart, and Jacob Wagner for the Holberton Tulsa, Cohort 12 foundations year. The concept for this project is to bring more attention to the growing tech sector in Tulsa Oklahoma and highlight some of the great things about our city. Our mission of amplifying the message that Tulsa is the next great American tech city led us to focus on 4 major factors that we want to share with everyone.</p>
    
    <ol>
      <li>There are great companies already here doing cool work, many of which need more tech talent to join their teams and help them grow. For this factor, we built T-Combinator which highlights local companies in dynamically generated cards.</li>
      <li>There are opportunities to relocate to Tulsa from elsewhere and these include the remote work program Tulsa Remote, and the tech engineering school Holberton.</li>
      <li>There are some great associations and tech-focused groups here in Tulsa, including the remote working space 36 Degrees North, the new incubator 5th floor, and groups like OK Women in Tech.</li>
      <li>There are plenty of jobs both remote and local here in Tulsa for entrepreneurs and tech workers, many of which are highlighted on our jobs page.</li>
    </ol>
    
    <p>We built these foci into our home page at tulsaboomtown.tech so that we could amplify the message that Tulsa is a tech boomtown and a great place to move to as it reinvents itself and has an impact on the broader tech industry. Building this project allowed us to really stretch our learning in deploying a web app via the LNMP stack, calling APIs, web scraping, and parsing data with python, and seeing a web design through from wire framing in figma to a fully deployed site. We appreciate all the help and information from local tech companies and we look forward to joining your teams a Holberton graduates in the near future.</p>

  </div><!--container-->
  
  <!-- Tulsa Boom Town Team
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="centered">The Tulsa Boom Town Team</h2>
  </div><!--container-->
  
  <!--Blake-->
  <div class="container marginTop35">
    <div class="row">

      <section class="four columns">
        <div class="headshotBox Blake"></div><!--carousel-box-->
      </section>

      <section class="eight columns">
        <h4>Blake Stewart</h4>
        <p class="noMargin">Blake is a grad of Holberton School's Foundations program.  He is planning on continuing his education through the Low Level and Algorithms Track.  His contributions relating to Tulsa Boom Town include web-scraping, hosting platform decisions and backend.</p>
        <p class="marginBottom1rem">You can contact Blake here:</p>
        <a href="http://github.com/Acochisse" target="_blank">
          <div class="github-icon"></div>
        </a>
        <a href="https://www.linkedin.com/in/blake-stewart-1b1713209/" target="_blank">
          <div class="linkedIn-icon"></div>
        </a>
      </section>

    </div><!--row-->
  </div><!--container marginTop35-->

  <!--Jacob-->
  <div class="container marginTop35">
    <div class="row">

      <section class="four columns">
        <div class="headshotBox Jacob"></div><!--carousel-box-->
      </section>

      <section class="eight columns">
        <h4>Jacob Wagner</h4>
        <p class="noMargin">Jacob is from McKinney, TX, and enjoys music and speedrunning. He had been studying software development as a hobby before joining Holberton in March of 2020. Jacob implemented the TulsaBoomTown API and the dynamic content for the home and jobs pages.</p>
        <p class="marginBottom1rem">You can contact Jacob here:</p>
        <a href="http://github.com/JwowSquared" target="_blank">
          <div class="github-icon"></div>
        </a>
        <a href="https://www.linkedin.com/in/jacob-wagner-90a1b41a9/" target="_blank">
          <div class="linkedIn-icon"></div>
        </a>
      </section>

    </div><!--row-->
  </div><!--container marginTop35-->

<!--Reese-->
<div class="container marginTop35">
  <div class="row">

      <section class="four columns">
        <div class="headshotBox Reese"></div><!--carousel-box-->
      </section>

      <section class="eight columns">
        <h4>Reese Hicks</h4>
        <p class="noMargin">Reese is a grad of Holberton School's Foundations program.  He is planning on continuing his education through the Low Level and Algorithms Track.  His contributions relating to Tulsa Boom Town include translating our wireframe mockups to static HTML5 & CSS3.</p>
        <p class="marginBottom1rem">You can contact Reese here:</p>
        <a href="http://github.com/dreeseh" target="_blank">
          <div class="github-icon"></div>
        </a>
        <a href="https://www.linkedin.com/in/reeseh/" target="_blank">
          <div class="linkedIn-icon"></div>
        </a>
      </section>

  </div><!--row-->
</div><!--container marginTop35-->

<!--Tim-->
<div class="container marginTop35">
  <div class="row">

      <section class="four columns">
        <div class="headshotBox Tim"></div><!--carousel-box-->
      </section>

      <section class="eight columns">
        <h4>Tim McMacken</h4>
        <p class="noMargin">Tim is a transplant from Oakland CA who came to Tulsa for the Holberton program. He kicked off the BoomTown project to get to know Tulsa's tech sphere a bit better during these covid times. Tim enjoys coding small apps in python, cycling, homebrewing, and all things outdoors.</p>
        <p class="marginBottom1rem">You can contact Tim here:</p>
        <a href="http://github.com/TMcMac" target="_blank">
          <div class="github-icon"></div>
        </a>
        <a href="https://www.linkedin.com/in/timmcmacken/" target="_blank">
          <div class="linkedIn-icon"></div>
        </a>
      </section>

  </div><!--row-->
</div><!--container marginTop35-->

<!--Hannah-->
<div class="container marginTop35">
  <div class="row">

      <section class="four columns">
        <div class="headshotBox Hannah"></div><!--carousel-box-->
      </section>

      <section class="eight columns">
        <h4>Hannah Drobek</h4>
        <p class="noMargin">Hannah designed the TulsaBoomTown Logo!</p>
        <p class="marginBottom1rem">Check out Hannah's portfolio here: <a href="https://hannahdrobek.myportfolio.com" target="_blank">Hannah Drobek</a></p>

      </section>

  </div><!--row-->
</div><!--container marginTop35-->

  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer>
    <div class="container">
      <div class="row">
        <section class="owner-links">
          
          <div class="three columns">
            <p>Tim McMacken - <a href="https://github.com/tmcmac">GitHub</a></p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Reese Hicks  - <a href="https://github.com/dreeseh">GitHub</a></p>
          </div><!--four columns-->
          
          <div class="three columns">
            <p>Jacob Wagner - <a href="https://github.com/JwowSquared">GitHub</a></p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Blake Stewart - <a href="https://github.com/Acochisse">GitHub</a></p>
          </div><!--four columns-->

        </section>
      </div><!--row-->
    </div><!--container-->

    <div class="container">
      <div class="row">
        <section class="copyright_info">

          <div class="three columns"><p>Copyright 2021</p></div>
          <div class="three columns"><p>Tulsa Boom Town</p></div>
          <div class="three columns"><p><a href="./jobs.html">Jobs</a></p></div>
          <div class="three columns"><p><a href="./aboutUs.html">About</a></p></div>
        
        </section>
      </div><!--row-->
    </div><!--container-->

  </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
