<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>About</title>
  <meta name="description" content="The About Us Page, or, Our Team Page">
  <meta name="author" content="Reese Hicks">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/skeleton.css">
  <link rel="stylesheet" href="styles/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- Header / Navigation
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
    <nav class="navigation">
      <ul>
        <li class="navigation"><a href="./aboutUs.html">About</a></li>
        <li class="navigation"><a href="./jobs.html"><div class="slash">Jobs</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Tulsa Love</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">T-Combinator</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Tech Associations & Groups</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Learn & Grow</div></a></li>
      </ul>
    </nav>
  </header>

  <!-- Logo
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <a href="./index.html">
    <section class="logo">
      <img src="./images/logo-150x150.png" alt="Tulsa Boom Town Logo" style="width:150px;height:150px";> 
    </section>
  </a>

  <!-- About
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="centered">About Tulsa Boom Town</h2>
  </div><!--container-->

  <!-- Video
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="centered">Tulsa Boom Town Video</h2>
  </div><!--container-->
  
  <!-- Tulsa Boom Town Team
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="centered">The Tulsa Boom Town Team</h2>
  </div><!--container-->
  
  <!--Blake-->
  <div class="container marginTop35">
    <div class="row">

      <section class="four columns">
        <div class="headshotBox--Blake"></div><!--carousel-box-->
      </section>

      <section class="eight columns">
        <h4>Blake Stewart</h4>
        <p class="noMargin">Blake is a grad of Holberton School's Foundations program.  He is planning on continuing his education through the Low Level and Algorithms Track.  His contributions relating to Tulsa Boom Town include web-scraping, hosting platform decisions and backend.</p>
        <p class="marginBottom1rem">You can contact Blake here:</p>
        <a href="http://github.com/Acochisse" target="_blank">
          <div class="github-icon"></div>
        </a>
        <a href="http://linkedin.com" target="_blank">
          <div class="linkedIn-icon"></div>
        </a>
      </section>

    </div><!--row-->
  </div><!--container marginTop35-->

  <!--Jacob-->
  <div class="container marginTop35">
    <div class="row">

      <section class="four columns">
        <div class="headshotBox--Jacob"></div><!--carousel-box-->
      </section>

      <section class="eight columns">
        <h4>Jacob Wagner</h4>
        <p class="noMargin">Jacob is a grad of Holberton School's Foundations program.  He is planning on continuing his education through the Web Development Track.  His contributions relating to Tulsa Boom Town include creating and implementing our API and dynamic content.</p>
        <p class="marginBottom1rem">You can contact Jacob here:</p>
        <a href="http://github.com/JwowSquared" target="_blank">
          <div class="github-icon"></div>
        </a>
        <a href="http://linkedin.com" target="_blank">
          <div class="linkedIn-icon"></div>
        </a>
      </section>

    </div><!--row-->
  </div><!--container marginTop35-->

<!--Reese-->
<div class="container marginTop35">
  <div class="row">

      <section class="four columns">
        <div class="headshotBox--Reese"></div><!--carousel-box-->
      </section>

      <section class="eight columns">
        <h4>Reese Hicks</h4>
        <p class="noMargin">Reese is a grad of Holberton School's Foundations program.  He is planning on continuing his education through the Low Level and Algorithms Track.  His contributions relating to Tulsa Boom Town include translating our wireframe mockups to static HTML5 & CSS3.</p>
        <p class="marginBottom1rem">You can contact Reese here:</p>
        <a href="http://github.com/dreeseh" target="_blank">
          <div class="github-icon"></div>
        </a>
        <a href="http://linkedin.com" target="_blank">
          <div class="linkedIn-icon"></div>
        </a>
      </section>

  </div><!--row-->
</div><!--container marginTop35-->

<!--Tim-->
<div class="container marginTop35">
  <div class="row">

      <section class="four columns">
        <div class="headshotBox--Tim"></div><!--carousel-box-->
      </section>

      <section class="eight columns">
        <h4>Tim McMacken</h4>
        <p class="noMargin">Tim is a grad of Holberton School's Foundations program.  He is planning on continuing his education through the AR / VR Track.  Aside from Tulsa Boom Town being Tim's creation, he also was instrumental in the team's organizational structre and served as the primary source for the team's motivation.</p>
        <p class="marginBottom1rem">You can contact Tim here:</p>
        <a href="http://github.com/TMcMac" target="_blank">
          <div class="github-icon"></div>
        </a>
        <a href="http://linkedin.com" target="_blank">
          <div class="linkedIn-icon"></div>
        </a>
      </section>

  </div><!--row-->
</div><!--container marginTop35-->
  
<!--Hannah-->
<div class="container marginTop35">
  <div class="row">
    <div class="headshotBox--Hannah"></div>
    <p class="centered-only">A Special Thank You for Designing our Logo: <a href="hannahdrobek.myportfolio.com" target="_blank">Hannah Drobek</a></p>
  </div><!--row-->
</div><!--container-->

  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer>
    <div class="container">
      <div class="row">
        <section class="owner-links">
          
          <div class="three columns">
            <p>Tim McMacken - <a href="https://github.com/tmcmac">GitHub</a></p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Reese Hicks  - <a href="https://github.com/dreeseh">GitHub</a></p>
          </div><!--four columns-->
          
          <div class="three columns">
            <p>Jacob Wagner - <a href="https://github.com/JwowSquared">GitHub</a></p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Blake Stewart - <a href="https://github.com/Acochisse">GitHub</a></p>
          </div><!--four columns-->

        </section>
      </div><!--row-->
    </div><!--container-->

    <div class="container">
      <div class="row">
        <section class="copyright_info">

          <div class="three columns"><p>Copyright 2021</p></div>
          <div class="three columns"><p>Tulsa Boom Town</p></div>
          <div class="three columns"><p><a href="./jobs.html">Jobs</a></p></div>
          <div class="three columns"><p><a href="./aboutUs.html">About</a></p></div>
        
        </section>
      </div><!--row-->
    </div><!--container-->

  </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
