<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Tulsa Boom Town</title>
  <meta name="description" content="Tulsa Boom Town Home Page">
  <meta name="author" content="Reese Hicks">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/skeleton.css">
  <link rel="stylesheet" href="styles/custom.css">
  <link rel="stylesheet" href="styles/carousel.css">

  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="scripts/index.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- Header / Navigation
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
    <nav class="navigation">
      <ul>
        <li class="navigation"><a href="./aboutUs.html">Our Team</a></li>
        <li class="navigation"><a href="./jobs.html"><div class="slash">Jobs</div></a></li>
        <li class="navigation"><a href="#tulsaOffer"><div class="slash">Tulsa Love</div></a></li>
        <li class="navigation"><a href="#tCombinator"><div class="slash">T-Combinator</div></a></li>
        <li class="navigation"><a href="#assoc&Groups"><div class="slash">Tech Associations & Groups</div></a></li>
        <li class="navigation"><a href="#learn&Grow"><div class="slash">Learn & Grow</div></a></li>
      </ul>
    </nav>
  </header>

  <!-- Logo
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <a href="./index.html">
    <section class="logo">
      <img src="./images/logo-150x150.png" alt="Tulsa Boom Town Logo" style="width:150px;height:150px";> 
    </section>
  </a>

  <!-- Background Image for Top
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="image-holder">
    <div class="container">
      <h1 class="centered-text">Tulsa Boom Town</h1>
    </div><!--container-->
  </div><!--image-holder-->
  
  <!-- Text Box with Quote
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="textbox">
      <em>The only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it</em>
      <em class="float-right">~Steve Jobs</em>
      <p></p>
      <p>Tulsa has a tech ecosystem that is rapidly changing as it marches forward.  As we experience this growth, we are seeing a gap between wonderful tech companies, and well-qualified entry-level canidates emerging on Tulsa's tech scene.  As recent graduates of Holberton School's Foundations Program, we are trying to bridge that ever-growing gap with this website.</p>
    </div><!--textbox-->
  </div> <!--/container-->
  
  <!-- First 2 Boxes
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="learn&Grow"></section>
  <div class="container">
    <h2 class="centered">Oppertunities to Learn and Grow</h2>
    
    <div class="row">
    
      <article class="six columns">
        <a href="https://tulsaremote.com/" target="_blank">
          <div class="oppBox-tulsaRemote"></div><!--oppBox-tulsaRemote--> 
          <h5 class="title">Tulsa Remote:</h5>
        </a>
        <p>You're looking for something new, Tulsa Remote is looking for great people to join the Tulsa community.  Currently offering $10,000 cash, free desk space, exclusive perks / events and of course, a welcoming community.</p>
      </article>
    
      <article class="six columns">
        <a href="https://holbertonschool.com/" target="_blank">
          <div class="oppBox-holberton"></div><!--oppBox-holberton-->
          <h5 class="title">Holberton School:</h5>
        </a>
        <p>Located in the Downtown Tulsa Arts District, Holberton School is Oklahoma's premiere coding school.  Campus facilities are open to students 24hrs a day, 7 days a week.  They offer a spacious computer lab with over 30 work stations and various conference rooms, quiet spaces and nooks.  Learn by doing, learn from each other! </p>
      </article>
    
    </div><!--row-->

    <!-- Second 2 Boxes
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row">
      
      <section class="six columns">
        <a href="https://www.36degreesnorth.co/" target="_blank">
          <div class="oppBox-36DNorth"></div><!--oppBox-36DNorth-->
          <h5 class="title">36D North:</h5>
        </a>
        <p>36 Degrees North is the central gathering point for Tulsa's startup founders, small business owners, remote workers and innovative community leaders. We provide high-quality workspace in the Tulsa Arts District, foster a tight-knit community, and curate connections to helpful resources, so entrepreneurs can grow and create long-lasting, impactful businesses.</p>
      </section>
      
      <section class="six columns">
        <a href="https://www.newson6.com/story/5f98ac31a1892e1dfec8ae1c/nonprofit-36-degrees-north-looks-to-expand-into-tulsa-city-hall-" target="_blank">
          <div class="oppBox-fifthFloor"></div><!--oppBox-fifthFloor-->
          <h5 class="title">5th Floor:</h5>
        </a>
        <p>New incubator, coming soon, brought to you by 36 and city of Tulsa.  A plan has been proposed to use $1.25 million in CARES Act funding to create a flexible work space on the fifth floor of City Hall. 36 Degrees North, which has sites in the Tulsa Arts District, would pay about $480,000 a year in rent.</p>
      </section>
    
    </div><!--row-->
  </div><!--container-->

  <!-- Carousel / Tech Co's in Tulsa
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="tCombinator"></section>
  <div class="container">
    <h2 class="centered">T-Combinator - Tech Companies in Tulsa</h2>
  </div><!--container-->
  
  <div class="container">
  <div class="slider">
    <input type="radio" name="toggle" id="btn-1" checked>
    <input type="radio" name="toggle" id="btn-2">
    <input type="radio" name="toggle" id="btn-3">
  
    <div class="slider-controls">
      <label for="btn-1"></label>
      <label for="btn-2"></label>
      <label for="btn-3"></label>
    </div>
  
    <ul class="slides">
      
      <li class="slide">
        <div class="slide-content">
          <h3 class="slide-title">SeqTek</h3>
          <p class="industries"><strong>Industry: </strong>web_dev, consulting</p>
          <p class="tech-stack"><strong>Tech Stack: </strong>C#, Java, Javascript, Python, and C++</p>
          <p class="employees"><strong>Number of Employees: </strong>35</p>
          <p class="co-link"><strong>Website: </strong><a href="https://www.seqtek.com/">https://www.seqtek.com/</a></p>
          <p class="job-link"><strong>Job Board Link: </strong><a href="https://seqtek.com/careers/career-opportunities/">https://seqtek.com/careers/career-opportunities/</a></p>
        </div>
        <p class="company-logo">
          <img src="images/logos/seqtek.png" alt="SeqTek Logo" width="320" height="240">
        </p>
      </li>

      <li class="slide">
        <div class="slide-content">
          <h3 class="slide-title">SeqTek</h3>
          <p class="industries"><strong>Industry: </strong>web_dev, consulting</p>
          <p class="tech-stack"><strong>Tech Stack: </strong>C#, Java, Javascript, Python, and C++</p>
          <p class="employees"><strong>Number of Employees: </strong>35</p>
          <p class="co-link"><strong>Website: </strong><a href="https://www.seqtek.com/">https://www.seqtek.com/</a></p>
          <p class="job-link"><strong>Job Board Link: </strong><a href="https://seqtek.com/careers/career-opportunities/">https://seqtek.com/careers/career-opportunities/</a></p>
        </div>
        <p class="company-logo">
          <img src="../images/logos/seqtek.png" alt="SeqTek Logo" width="320" height="240">
        </p>
      </li>

      <li class="slide">
        <div class="slide-content">
          <h3 class="slide-title">SeqTek</h3>
          <p class="industries"><strong>Industry: </strong>web_dev, consulting</p>
          <p class="tech-stack"><strong>Tech Stack: </strong>C#, Java, Javascript, Python, and C++</p>
          <p class="employees"><strong>Number of Employees: </strong>35</p>
          <p class="co-link"><strong>Website: </strong><a href="https://www.seqtek.com/">https://www.seqtek.com/</a></p>
          <p class="job-link"><strong>Job Board Link: </strong><a href="https://seqtek.com/careers/career-opportunities/">https://seqtek.com/careers/career-opportunities/</a></p>
        </div>
        <p class="company-logo">
          <img src="images/logos/seqtek.png" alt="SeqTek Logo" width="320" height="240">
        </p>
      </li>

    </ul>
  </div><!--slider-->
</div><!--container-->

  <!-- Tech Associations and Groups
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="assoc&Groups"></section>
  <div class="container">
    <h2 class="centered">Tech Associations and Groups</h2>
  </div><!--container-->

  <div class="container">
    <div class="row">
      
      <div class="display-none">
        <div class="one column">1</div>
      </div><!--display-none-->
      
      <section class="four columns">
        <a href="https://www.techlahoma.org/" target="_blank">
          <div class="techAssoc_box--Techlahoma"></div>
          <p class="marginNone"><strong>Techlahoma</strong></p>
        </a>
        <p class="float-right">Wide ranging tech group with a focus on learning, sharing and building the tech ecosysten in OK.</p>
      </section><!--four columns-->
      
      <div class="display-none">
        <div class="two columns">2</div>
      </div><!--display-none-->
      
      <section class="four columns">
        <a href="https://www.tulsainnovationlabs.com/" target="_blank">
          <div class="techAssoc_box--TulsaInnoLabs"></div>
          <p class="marginNone"><strong>Tulsa Innovation Labs</strong></p>
        </a>
        <p>is establishing Tulsa's tech niche through a diverse coalition of public and private partners.</p>
      </section><!--four columns-->

      <div class="display-none">
        <div class="one column">1</div>
      </div><!--display-none-->

    </div><!--row-->
  </div><!--container-->

  <div class="container">
    <div class="row">
      
      <div class="display-none">
        <div class="one column">1</div>
      </div><!--display-none-->
      
      <section class="four columns">
        <a href="https://okwomenintech.org/" target="_blank">
          <div class="techAssoc_box--WomeninTech"></div>
          <p class="marginNone"><strong>Women in Technology</strong></p>
        </a>
        <p>is a nonprofit organization of professionals in the technology industry, with a determination to bridge the gap between genders in STEM fields.</p>
      </section><!--four columns-->
      
      <div class="display-none">
        <div class="two columns">2</div>
      </div><!--display-none-->
      
      <section class="four columns">
        <a href="https://www.typros.org/" target="_blank">
          <div class="techAssoc_box--TYPROS"></div>
          <p class="marginNone"><strong>TYPROS</strong></p>
        </a>
        <p>creates events, programs, groups and straight-up things to do in Tulsa. Our mission is to make Tulsa an awesome city for young professionals to live, work and play.</p>
      </section><!--four columns-->

      <div class="display-none">
        <div class="one column">1</div>
      </div><!--display-none-->

    </div><!--row-->
  </div><!--container-->

  <!-- What Tulsa has to Offer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section id="tulsaOffer"></section>
  <div class="container">
    <h2 class="centered">What Tulsa has to Offer</h2>
  </div><!--container-->

  <div class="container">
    
    <div class="row">
      <section class="six columns">
        <div class="offer_box-route66"></div><!--offer_box-->
      </section><!--five columnas-->
    
      <section class="six columns">
        <div class="offer_box_text">
          <h4>Historic Route 66</h4>
          <p>Traveling on Route 66 might be the most iconic road trip route in the U.S. Known as “The Mother Road”.  Route 66 made inter-continental travel from Illinois to Los Angeles possible for millions.  In Oklahoma, Route 66 spans from the north-eastern to south-central portions of the state.  A few highlights include: The Oklahoma Route 66 Museum in Clinton, The Coleman Theatre in Miami, The Blue Whale in Catoosa, Totem Pole Park in Chelsea, The Seaba Station Motorcycle Museum, Homestead on Route 66 in Yukon.

 
          </p>
        </div><!--offer_box_text-->
      </section><!--five columnas-->
    </div>

    <div class="row">
      <section class="six columns">
        <div class="offer_box-gathering"></div><!--offer_box-->
      </section><!--five columnas-->
    
      <section class="six columns">
        <div class="offer_box_text">
          <h4>The Gathering Place</h4>
          <p>We are Gathering Place.  We remain consistent in our mission, as a project led by George Kaiser Family Foundation, that we all become united in our love for our community. Relatives, close friends, neighbors, we are all family. We are united from every zip code, from the city to the suburbs, from the river to the hills, from the north to the south, from the west to the east. Gathering Place is the ultimate expression of Tulsa’s spirit of unity. A place for everyone.</p>
        </div><!--offer_box_text-->
      </section><!--five columnas-->
    </div>
    
    <div class="row">
      <section class="six columns">
        <div class="offer_box-arts-n-culture"></div><!--offer_box-->
      </section><!--five columnas-->
    
      <section class="six columns">
        <div class="offer_box_text">
          <h4>Live Music, Arts & Culture</h4>
          <p>Tulsa's rich and vibrant music & arts scene paves the way for our local communities culture to flourish.  Tulsa's local music and art help to build our economy, improve our education system, help to preserve our local heritage and culture, and provide an over all enhanced quality of life for all to enjoy.</p>
        </div><!--offer_box_text-->
      </section><!--five columnas-->
    </div>

  </div><!--container-->

  <!-- Plan a Visit!
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="six columns offset-by-three">
        <button class="button-primary marginTop35">
          <h3 class="textbox-centered">Plan a Visit:   <a href="https://roottulsa.com/">Root Tulsa</a></h3>
        </button>
      </div>
    </div>
  </div><!--container-->

  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer>
    <div class="container">
      <div class="row">
        <section class="owner-links">
          
          <div class="three columns">
            <p>Tim McMacken - <a href="https://github.com/tmcmac">GitHub</a></p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Reese Hicks  - <a href="https://github.com/dreeseh">GitHub</a></p>
          </div><!--four columns-->
          
          <div class="three columns">
            <p>Jacob Wagner - <a href="https://github.com/JwowSquared">GitHub</a></p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Blake Stewart - <a href="https://github.com/Acochisse">GitHub</a></p>
          </div><!--four columns-->

        </section>
      </div><!--row-->
    </div><!--container-->

    <div class="container">
      <div class="row">
        <section class="copyright_info">

          <div class="three columns"><p>Copyright 2021</p></div>
          <div class="three columns"><p>Tulsa Boom Town</p></div>
          <div class="three columns"><p><a href="#">Jobs</a></p></div>
          <div class="three columns"><p><a href="./aboutUs.html">Our Team</a></p></div>
        
        </section>
      </div><!--row-->
    </div><!--container-->

  </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
