<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Tulsa Boom Town</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="../styles/normalize.css" />
  <link rel="stylesheet" type="text/css" href="../styles/skeleton.css" />
  <link rel="stylesheet" type="text/css" href="../styles/custom.css" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../images/favicon.png" />

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- Header / Navigation
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
    <nav class="navigation">
      <ul>
        <li class="navigation"><a href="#">Learn & Grow</a></li>
        <li class="navigation"><a href="#"><div class="slash">T-Combinator</div></a></li>
        <li class="navigation"><a href="#"><div class="slash">Jobs</div></a></li>
        <li class="navigation"><a href="#"><div class="slash">Tulsa Love</div></a></li>
        <li class="navigation"><a href="#"><div class="slash">Our Team</div></a></li>
      </ul>
    </nav>
  </header>
  
  <!-- Background Image for Top
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="image-holder">
    <div class="container">
      <h1 class="centered-text">Tulsa Boom Town</h1>
    </div><!--container-->
  </div><!--image-holder-->
  
  <!-- Text Box with Quote
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="textbox">
      <em>The only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it</em>
      <em class="float-right">~Steve Jobs</em>
      <p></p>
      <p>Tulsa has a tech ecosystem that is rapidly changing as it marches forward.  As we experience this growth, we are seeing a gap between wonderful tech companies, and well-qualified entry-level canidates emerging on Tulsa's tech scene.  As recent graduates of Holberton School's Foundations Program, we are trying to bridge that ever-growing gap with this website.</p>
    </div><!--textbox-->
  </div> <!--/container-->
  
  <!-- First 2 Boxes
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="centered">Oppertunities to Learn and Grow</h2>
    
    <div class="row">
    
      <div class="six columns">
        <div class="oppertunities_box">
        </div><!--oppertunities_box--> 
        <h5 class="title">Tulsa Remote:</h5>
        <p>Papa George making it rain for transplants, thats right!  Get paid 10k to run away to Tulsa.  We're not desperate, we're just flush with oil guilt money.</p>
      </div><!--six columns-->
    
      <div class="six columns">
        <div class="oppertunities_box">
        </div><!--oppertunities_box-->
        <h5 class="title">Holberton School:</h5>
        <p>Move to Tulsa, learn Tech, blah blah blah!  Founded in San Franscisco, blah blah, comprehensive program, blah blah blah, mix of college and boot-camp.  Derek says "Howdy".</p>
      </div><!--six columns-->
    
    </div><!--row-->

    <!-- Second 2 Boxes
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row">
      
      <div class="six columns">
        <div class="oppertunities_box">
        </div><!--oppertunities_box--> 
        <h5 class="title">36D North:</h5>
        <p>Coworking space featuring things and stuff, such tech hub much wow. Start up space for solo founders and teams of a few.  Second campus Camp 2 for small teams.</p>
      </div><!--six columns-->
      
      <div class="six columns">
        <div class="oppertunities_box">
        </div><!--oppertunities_box-->
        <h5 class="title">5th Floor:</h5>
        <p>New incubator, coming soon, brought to you by 36 and city of Tulsa.  T-Town is so down with tech they gave up a floor of City Hall to be an incubator.  Come found a company here Dude, Bro!</p>
      </div><!--six columns-->
    
    </div><!--row-->
  </div><!--container-->

  <!-- Carousel / Tech Co's in Tulsa
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="centered">T-Combinator - Tech Companies in Tulsa</h2>
  </div><!--container-->
  
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <div class="carousel-box"></div><!--carousel-box-->
        <p>Company One</p>
      </div><!--one-third column-->
      <div class="one-third column">
        <div class="carousel-box"></div><!--carousel-box-->
        <p>Company Two</p>
      </div><!--one-third column-->
      <div class="one-third column">
        <div class="carousel-box"></div><!--carousel-box-->
        <p>Company Three</p>
      </div><!--one-third column-->
    </div><!--row-->
  </div><!--container-->

  <!-- Tech Associations and Groups
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="centered">Tech Associations and Groups</h2>
  </div><!--container-->

  <div class="container">
    <div class="row">
      
      <div class="display-none">
        <div class="one column">1</div>
      </div><!--display-none-->
      
      <section class="four columns">
        <div class="t-combinator_box"></div>
        <p><strong>Techlahoma</strong> -- Wide ranging tech group with a focus on learning, sharing and building the tech ecosysten in OK.</p>
      </section><!--four columns-->
      
      <div class="display-none">
        <div class="two columns">2</div>
      </div><!--display-none-->
      
      <section class="four columns">
        <div class="t-combinator_box"></div>
        <p><strong>Tulsa Innovation Labs</strong> -- is establishing Tulsa's tech niche. ... Through a diverse coalition of public and private partners.</p>
      </section><!--four columns-->

      <div class="display-none">
        <div class="one column">1</div>
      </div><!--display-none-->

    </div><!--row-->
  </div><!--container-->

  <div class="container">
    <div class="row">
      
      <div class="display-none">
        <div class="one column">1</div>
      </div><!--display-none-->
      
      <section class="four columns">
        <div class="t-combinator_box"></div>
        <p><strong>Women in Technology</strong> -- is a nonprofit organization of professionals in the technology industry, with a determination to bridge the gap between genders in STEM fields.</p>
      </section><!--four columns-->
      
      <div class="display-none">
        <div class="two columns">2</div>
      </div><!--display-none-->
      
      <section class="four columns">
        <div class="t-combinator_box"></div>
        <p><strong>TYPROS</strong> -- creates events, programs, groups and straight-up things to do in Tulsa. Our mission is to make Tulsa an awesome city for young professionals to live, work and play.</p>
      </section><!--four columns-->

      <div class="display-none">
        <div class="one column">1</div>
      </div><!--display-none-->

    </div><!--row-->
  </div><!--container-->

  <!-- What Tulsa has to Offer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="centered">What Tulsa has to Offer</h2>
  </div><!--container-->

  <div class="container">
    
    <div class="row">
      <section class="six columns">
        <div class="offer_box"></div><!--offer_box-->
      </section><!--five columnas-->
    
      <section class="six columns">
        <div class="offer_box_text">
          <h4>Historic Route 66</h4>
        </div><!--offer_box_text-->
      </section><!--five columnas-->
    </div>

    <div class="row">
      <section class="six columns">
        <div class="offer_box"></div><!--offer_box-->
      </section><!--five columnas-->
    
      <section class="six columns">
        <div class="offer_box_text">
          <h4>The Gathering Place & Science Center</h4>
        </div><!--offer_box_text-->
      </section><!--five columnas-->
    </div>
    
    <div class="row">
      <section class="six columns">
        <div class="offer_box"></div><!--offer_box-->
      </section><!--five columnas-->
    
      <section class="six columns">
        <div class="offer_box_text">
          <h4>Live Music, Arts & Culture in a non-Covid year</h4>
        </div><!--offer_box_text-->
      </section><!--five columnas-->
    </div>

  </div><!--container-->

  <!-- Plan a Visit!
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="textbox-centered">Plan a Visit:   <a href="https://roottulsa.com/">Root Tulsa</a></h2>
  </div><!--container-->

  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer>
    <div class="container">
      <div class="row">
        <section class="owner-links">
          
          <div class="three columns">
            <p>Tim McMacken - <a href="https://github.com/tmcmac">GitHub</a> </p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Reese Hicks  - <a href="https://github.com/dreeseh">GitHub</a> </p>
          </div><!--four columns-->
          
          <div class="three columns">
            <p>Jacob Wagner - <a href="https://github.com/JwowSquared">GitHub</a> </p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Blake Stewart - <a href="https://github.com/Acochisse">GitHub</a> </p>
          </div><!--four columns-->

        </section>
      </div><!--row-->
    </div><!--container-->

    <div class="container">
      <p>Copyright 2021 | Tulsa Boom Town | <a href="#">Jobs</a> | <a href="#">Our Team</a></p>
    </div><!--container-->

  </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
