<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Jobs</title>
  <meta name="description" content="Tulsa Boom Town Jobs Page">
  <meta name="author" content="Reese Hicks">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/skeleton.css">
  <link rel="stylesheet" href="styles/custom.css">
  <link rel="stylesheet" href="styles/carousel.css">
  <link rel="stylesheet" href="styles/jobs.css">

  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="scripts/jobs.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- Header / Navigation
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
    <nav class="navigation">
      <ul>
        <li class="navigation"><a href="./aboutUs.html">About</a></li>
        <li class="navigation"><a href="./jobs.html"><div class="slash">Jobs</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Tulsa Love</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">T-Combinator</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Tech Associations & Groups</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Learn & Grow</div></a></li>
      </ul>
    </nav>
  </header>

  <!-- Logo
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <a href="./index.html">
    <section class="logo">
      <img src="./images/logo-150x150.png" alt="Tulsa Boom Town Logo" style="width:150px;height:150px";> 
    </section>
  </a>

  <!-- jobs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="centered">Boom Town Jobs</h2>
  </div><!--container-->
  <div class="job-display container">
    <div class="slide-content">
      <h3 class="slide-title">Clinical Quality Assurance Coordinator</h3>
      <p><strong>Company: </strong>Plume</p>
      <p><strong>Job Type: </strong>full_time</p>
      <p><strong>Job Category: </strong>All others</p>
      <p><strong>Job Location: </strong>USA Only</p>
      <p><strong>Publication Date: </strong>2021-03-10T01:40:23</p>
      <p><a href="https://remotive.io/remote-jobs/all-others/clinical-quality-assurance-coordinator-491849"><strong>Apply Now!</strong></a></p>
    </div>
    <div class="slide-content">
      <h3 class="slide-title">Clinical Quality Assurance Coordinator</h3>
      <p><strong>Company: </strong>Plume</p>
      <p><strong>Job Type: </strong>full_time</p>
      <p><strong>Job Category: </strong>All others</p>
      <p><strong>Job Location: </strong>USA Only</p>
      <p><strong>Publication Date: </strong>2021-03-10T01:40:23</p>
      <p><a href="https://remotive.io/remote-jobs/all-others/clinical-quality-assurance-coordinator-491849"><strong>Apply Now!</strong></a></p>
    </div>
    <div class="slide-content">
      <h3 class="slide-title">Clinical Quality Assurance Coordinator</h3>
      <p><strong>Company: </strong>Plume</p>
      <p><strong>Job Type: </strong>full_time</p>
      <p><strong>Job Category: </strong>All others</p>
      <p><strong>Job Location: </strong>USA Only</p>
      <p><strong>Publication Date: </strong>2021-03-10T01:40:23</p>
      <p><a href="https://remotive.io/remote-jobs/all-others/clinical-quality-assurance-coordinator-491849"><strong>Apply Now!</strong></a></p>
    </div>
    <div class="slide-content">
      <h3 class="slide-title">Clinical Quality Assurance Coordinator</h3>
      <p><strong>Company: </strong>Plume</p>
      <p><strong>Job Type: </strong>full_time</p>
      <p><strong>Job Category: </strong>All others</p>
      <p><strong>Job Location: </strong>USA Only</p>
      <p><strong>Publication Date: </strong>2021-03-10T01:40:23</p>
      <p><a href="https://remotive.io/remote-jobs/all-others/clinical-quality-assurance-coordinator-491849"><strong>Apply Now!</strong></a></p>
    </div>
  </div><!--job-display-->

  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer>
    <div class="container">
      <div class="row">
        <section class="owner-links">
          
          <div class="three columns">
            <p>Tim McMacken - <a href="https://github.com/tmcmac">GitHub</a></p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Reese Hicks  - <a href="https://github.com/dreeseh">GitHub</a></p>
          </div><!--four columns-->
          
          <div class="three columns">
            <p>Jacob Wagner - <a href="https://github.com/JwowSquared">GitHub</a></p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Blake Stewart - <a href="https://github.com/Acochisse">GitHub</a></p>
          </div><!--four columns-->

        </section>
      </div><!--row-->
    </div><!--container-->

    <div class="container">
      <div class="row">
        <section class="copyright_info">

          <div class="three columns"><p>Copyright 2021</p></div>
          <div class="three columns"><p>Tulsa Boom Town</p></div>
          <div class="three columns"><p><a href="./jobs.html">Jobs</a></p></div>
          <div class="three columns"><p><a href="./aboutUs.html">About</a></p></div>
        
        </section>
      </div><!--row-->
    </div><!--container-->

  </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
