<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Jobs</title>
  <meta name="description" content="Tulsa Boom Town Jobs Page">
  <meta name="author" content="Reese Hicks">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="css/carousel.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- Header / Navigation
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
    <nav class="navigation">
      <ul>
        <li class="navigation"><a href="./aboutUs.html">Our Team</a></li>
        <li class="navigation"><a href="./jobs.html"><div class="slash">Jobs</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Tulsa Love</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">T-Combinator</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Tech Associations & Groups</div></a></li>
        <li class="navigation"><a href="./index.html"><div class="slash">Learn & Grow</div></a></li>
      </ul>
    </nav>
  </header>

  <!-- Logo
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <a href="./index.html">
    <section class="logo">
      <img src="./images/logo-150x150.png" alt="Tulsa Boom Town Logo" style="width:150px;height:150px";> 
    </section>
  </a>

  <!-- jobs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h2 class="centered">Boom Town Jobs</h2>
  </div><!--container-->
  
  <div class="container">
  <div class="slider">
    <input type="radio" name="toggle" id="btn-1" checked>
    <input type="radio" name="toggle" id="btn-2">
    <input type="radio" name="toggle" id="btn-3">
  
    <div class="slider-controls">
      <label for="btn-1"></label>
      <label for="btn-2"></label>
      <label for="btn-3"></label>
    </div>
  
    <ul class="slides">
      
      <li class="slide">
        <div class="slide-content">
          <h3 class="slide-title">SeqTek</h3>
          <p class="industries slide-font"><strong>Industry: </strong>web_dev, consulting</p>
          <p class="tech-stack slide-font"><strong>Tech Stack: </strong>C#, Java, Javascript, Python, and C++</p>
          <p class="employees slide-font"><strong>Number of Employees: </strong>35</p>
          <p class="co-link slide-font"><strong>Website: </strong><a href="https://www.seqtek.com/">https://www.seqtek.com/</a></p>
          <p class="job-link slide-font"><strong>Job Board Link: </strong><a href="https://seqtek.com/careers/career-opportunities/">https://seqtek.com/careers/career-opportunities/</a></p>
        </div>
        <p class="company-logo">
          <img src="../images/logos" alt="SeqTek Logo" width="320" height="240">
        </p>
      </li>

      <li class="slide">
        <div class="slide-content">
          <h3 class="slide-title">SeqTek</h3>
          <p class="industries slide-font"><strong>Industry: </strong>web_dev, consulting</p>
          <p class="tech-stack slide-font"><strong>Tech Stack: </strong>C#, Java, Javascript, Python, and C++</p>
          <p class="employees slide-font"><strong>Number of Employees: </strong>35</p>
          <p class="co-link slide-font"><strong>Website: </strong><a href="https://www.seqtek.com/">https://www.seqtek.com/</a></p>
          <p class="job-link slide-font"><strong>Job Board Link: </strong><a href="https://seqtek.com/careers/career-opportunities/">https://seqtek.com/careers/career-opportunities/</a></p>
        </div>
        <p class="company-logo">
          <img src="../images/logos" alt="SeqTek Logo" width="320" height="240">
        </p>
      </li>

      <li class="slide">
        <div class="slide-content">
          <h3 class="slide-title">SeqTek</h3>
          <p class="industries slide-font"><strong>Industry: </strong>web_dev, consulting</p>
          <p class="tech-stack slide-font"><strong>Tech Stack: </strong>C#, Java, Javascript, Python, and C++</p>
          <p class="employees slide-font"><strong>Number of Employees: </strong>35</p>
          <p class="co-link slide-font"><strong>Website: </strong><a href="https://www.seqtek.com/">https://www.seqtek.com/</a></p>
          <p class="job-link slide-font"><strong>Job Board Link: </strong><a href="https://seqtek.com/careers/career-opportunities/">https://seqtek.com/careers/career-opportunities/</a></p>
        </div>
        <p class="company-logo">
          <img src="../images/logos" alt="SeqTek Logo" width="320" height="240">
        </p>
      </li>

    </ul>
  </div><!--slider-->
</div><!--container-->

  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer>
    <div class="container">
      <div class="row">
        <section class="owner-links">
          
          <div class="three columns">
            <p>Tim McMacken - <a href="https://github.com/tmcmac">GitHub</a></p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Reese Hicks  - <a href="https://github.com/dreeseh">GitHub</a></p>
          </div><!--four columns-->
          
          <div class="three columns">
            <p>Jacob Wagner - <a href="https://github.com/JwowSquared">GitHub</a></p>
          </div><!--four columns-->

          <div class="three columns">
            <p>Blake Stewart - <a href="https://github.com/Acochisse">GitHub</a></p>
          </div><!--four columns-->

        </section>
      </div><!--row-->
    </div><!--container-->

    <div class="container">
      <div class="row">
        <section class="copyright_info">

          <div class="three columns"><p>Copyright 2021</p></div>
          <div class="three columns"><p>Tulsa Boom Town</p></div>
          <div class="three columns"><p><a href="#">Jobs</a></p></div>
          <div class="three columns"><p><a href="./aboutUs.html">Our Team</a></p></div>
        
        </section>
      </div><!--row-->
    </div><!--container-->

  </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
