.card {
	position: relative;
	border: solid black thin;
	height: 250px;
	width: 550px;
	padding: 0px 25px;
}

.logo {
	position: absolute;
	top: 30px;
	right: 30px;
	border: solid black thin;
	width: 250px;
	height: 150px;
}
